@tailwind base;

body {
  height: 100%;
}

html {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(pics/mosque.jpg);
  background-size: cover;
  overflow: hidden;
}

@tailwind components;
@tailwind utilities;